<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofeng.strangeloop.system.mapper.SysUserMapper">
    <!--

    -->
    <resultMap id="SysUserResult" type="com.xiaofeng.strangeloop.system.domain.SysUser">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="disable" column="disable"/>
        <result property="role" column="role"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectAllUser">
        select id,account,email,phone,disable,role,name,password from sys_user
    </sql>
<!--    新增一个用户-->
    <insert id="insertOneUser" parameterType="com.xiaofeng.strangeloop.system.domain.SysUser">
        insert into sys_user (account,password,email,role,disable,name,created_time)
        values (#{account},#{password},#{email},#{role},#{disable},#{name},#{createTime})

    </insert>


    <!--    查询所有用户-->
    <select id="selectAllUser" resultMap="SysUserResult">
        <include refid="selectAllUser"></include>
    </select>
<!--    根据用户名查询用户-->
    <select id="selectUserByName" resultMap="SysUserResult" parameterType="string">
        <include refid="selectAllUser"></include>
        where account = #{account};
    </select>

</mapper>
